body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #111827;

   
}

a{
    color: yellow;
   
}
a:hover{
    text-decoration: none;
}
h1{
    color: #FBBF24 !important;  
}
p{
    font-weight: lighter;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    border-radius: 1.2rem;
    background-color: #FBBF24;
    background-size: 60% 60%;
}
.carousel-control-next-icon{
position: relative;
left: 300%;
}
.carousel-control-prev-icon{
    position: relative;
    right: 300%;
}


.csel{
    width: 50vh;
   
    position: relative;
    left: 0%;
    height: 50vh;
    border-radius: 1rem;
   
    right: auto;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    /* height: 100vh; */

}
.con1{
    /* background-image:url(../../img/models.jpeg); */
    background-size:100%;
   
    filter: contrast(2.0);
    background-repeat: no-repeat;

    
    
}
.con2{
    background-color:#111827;
   

}
.con3{
   
 }
 .csel{
     opacity: 1;
     /* filter: contrast(1.2); */
    
    }
.con4{
    background-image: url();
    /* opacity: 0.6; */
   
}
@media only screen and (max-width: 600px) {
    .con2{
        background-color:#111827;
        /* position: relative;
        top:29rem; */
    
    }
    .con3{
        position: relative;
        top:-30rem;
    }


    .csel{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .carousel-control-next-icon{
        position: relative;
        left: 0%;
        }
        .carousel-control-prev-icon{
            position: relative;
            right: 0%;
        }
        


  }
  
