svg{
    margin: 5px;
}

svg:hover{
    color: #F59E0B;
}
a{
   color: #FCD34D !important;
   font-size: large; 
}

a:hover{
    color: #F59E0B;
    /* font-weight: bolder; */
}

.active{
    font-size: large;
    font-weight: bolder;
    color: #FBBF24;

}

.nav{
   text-align: center;
    /* height: 150px; */
    background-size:100%;
    height: fit-content;
    /* width: 100vw; */
    /* height: 100vh !important; */
    background-repeat: no-repeat;
    /* background-size: cover !important; */
}
.onav{
    /* margin-bottom: 10px; */
    position: relative;
    bottom: 0%;
}



@media only screen and (min-width: 1000px) {
   .top-box{
       padding-bottom: 0rem !important;
       margin-bottom: -7rem !important;
   }
   .onav{
    /* margin-bottom: 10px; */
    position: relative;
    left: 12rem;
   /* top: 10px; */}

 .brand{
     position: relative;
     right: 5rem;
     top: 0.5rem;
 }
 header{
     /* height: 40% !important; */
 }
 a{
     /* font-size: small; */
 }
 .nav{
     height: 140px;
 }
}
  
  
  @media only screen and (max-width: 1000px) {
    .onav{
        /* margin-bottom: 10px; */
        position: relative;
       top: 0rem;
    }
    .brand{
        position: relative;
        left: 1rem;
        /* margin-left: center; */
    }
.break{
   display: none;
}
   .smm{
       position: relative;
     right: 0rem;
   }
   .top-box{
    padding-bottom: 0rem !important;
    margin-bottom: -2rem !important;
}
   .nav{
       padding: 2rem;
       
       /* height: 120%; */
       
       /* background-size:cover ; */
       /* height: 150px !important; */
   }
   .link{
       padding:5px ;
       text-align: center;
   }
   a{
    color: #FCD34D !important;
    font-size: large; 
 }
   
   }