svg{
    margin: 5px;
}

svg:hover{
    color: #F59E0B;
}
a{
   color: #FCD34D !important;
   font-size: large; 
}

a:hover{
    color: #F59E0B;
    /* font-weight: bolder; */
}

.active{
    font-size: large;
    font-weight: bolder;
    color: #FBBF24;

}

.nav{
   
    /* height: 100vh; */
    background-size:100%;
   
    /* width: 100vw; */
    /* height: 100vh !important; */
    background-repeat: no-repeat;
    /* background-size: cover !important; */
}
.onav{
    /* margin-bottom: 10px; */
    position: relative;
    bottom: 35%;
}



@media only screen and (min-width: 769px) {
   .top-box{
       padding-bottom: 0rem !important;
       margin-bottom: -7rem !important;
   }
   .onav{
    /* margin-bottom: 10px; */
    position: relative;
    left: 12rem;
   /* top: 10px; */}

 .brand{
     position: relative;
     right: 5rem;
     top: 0.5rem;
 }
 header{
     /* height: 40% !important; */
 }
}
  
  
  @media only screen and (max-width: 760px) {
    .onav{
        /* margin-bottom: 10px; */
        position: relative;
       top: -0.3rem;
    }
    .brand{
        position: relative;
        left: 1rem;
    }
.break{
   display: none;
}
   .smm{
       position: relative;
     right: 1rem;
   }
   .top-box{
    padding-bottom: 0rem !important;
    margin-bottom: -2rem !important;
}
   .nav{
       
       
       /* height: 120%; */
       
       background-size:cover ;
       height: fit-content;
   }
   .link{
       padding:5px ;
   }
   a{
    color: #FCD34D !important;
    font-size: large; 
 }
   
   }